<!DOCTYPE html>
<html>

<head>
    <title>User Data</title>
</head>

<body>
    <h1>User Data</h1>
    <table border="1">
        <tr>
            <th>Email</th>
            <th>User</th>
            <th>Password</th>
            <!-- Add more table headers as needed -->
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <!-- Display other user attributes as needed -->
        </tr>
        {% endfor %}
    </table>
</body>

</html>